[openvpn-monitor]
site={{site}}
{{#logo}}
logo={{logo}}
{{/logo}}
{{#latitude}}
latitude={{latitude}}
{{/latitude}}
{{#longitude}}
longitude={{longitude}}
{{/longitude}}
maps={{maps}}
geoip_data={{geoip_data}}
datetime_format={{datetime_format}}

{{#vpns}}
[{{configName}}]
host={{host}}
port={{port}}
name={{name}}
show_disconnect={{show_disconnect}}
{{/vpns}}